@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 12, 12;
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for that minimalist look */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}